@model EditCategoryViewModel
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Areas/Admin/Views/Shared/_StandartLayout.cshtml";
}

<div style="border-bottom:1px solid lightgray; padding-bottom:30px">
    <h1 style="width:100%; text-align:center">Kategoriyi Güncelle</h1>
</div>

<div class="container" style="width:80%; text-align:left">
    <div class="row my-4">
        <div class="card-body">

            <form class="w-75 mx-auto p-3" method="post" asp-controller="Operations" asp-action="EditCategory" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="CategoryName">Kategori Adı</label>
                    <input type="text" asp-for="CategoryName" class="form-control" value="@Model.CategoryName" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryDescription">Kategori Tanımı</label>
                    @*<input type="text" asp-for="CategoryDescription" class="form-control" value="@Model.CategoryDescription" />*@
                    <textarea asp-for="CategoryDescription" class="form-control" value="@Model.CategoryDescription"></textarea>
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="text" asp-for="CategoryId" class="form-control" value="@Model.CategoryId" hidden />
                </div>

                <button type="submit" class="btn btn-outline-warning ">Güncelle</button>

            </form>
        </div>
    </div>
</div>
