@model Cart

<li class="nav-item">
    <a class="nav-link" href="~/cart">
        <i class="fa fa-shopping-bag">
            <span class="badge badge-primary">@Model.Lines.Count</span>
        </i>
    </a>
</li>